<!DOCTYPE html>
<html>
  <%- include('../layouts/head') %>
<body>
  <%- include('../layouts/header') %>
  <main>
    
    
    
  <h1><%= meals.length %> Meals</h1>
  

  <ul>
    <% meals.forEach(meal => { %>
      <div>
      <li class="img left"><img src='<%= meal.image %>' /></li>
      <li class="title right"><%= meal.title %></li>
      <li class="author right"><%= meal.readyInMinutes %></li>
      
      </div>
    <% }); %>

  </ul>
</main>
<%- include('../layouts/header') %>
</body>

</html>