<!DOCTYPE html>
<html>
  <%- include('../layouts/head') %>
<body>
  <%- include('../layouts/header') %>

  <section>

      <form  action="/saved-menus/<%= user_id %>" method="post" id="hiddenForm" >
        <% nutrients  %>
        <div>
          <li class="">Combined Meal Calories: <%= nutrients.calories %></li>
          <li class="">Combined Meal Protein: <%= nutrients.protein %></li>
          <li class="">Combined Meal Fat: <%= nutrients.fat %></li>
          <li class="">Combined Meal carbohydrates: <%= nutrients.carbohydrates %></li>
        </div>
        <%  %>
  

      <ul>
        <% meals.forEach(meal => { %>
          <div>
          <li class=""><img src='<%= meal.image %>' /></li>
          <li class="">Meal Name: <%= meal.title %></li>
          <li class="">Time to Prepare: <%= meal.readyInMinutes %> minutes</li>
      
          </div>
        <% }); %>

        <% ingredients.forEach(ingr => { %>
          <div>
        
          <li class="">Ingredient <%= ingr.name %></li>
          <li class="">Amount: <%= ingr.value %></li>
          <li class=""><%= ingr.unit %></li>
       
        
          </div>
        <% }); %> 

      </ul>

      <button class="" type="submit" id="" >Delete Meal Plan</button>
      </form>
    </section>



  <%- include('../layouts/footer') %>
</body>
</html>