<!DOCTYPE html>
<html>
  <%- include('../layouts/head') %>
<body id="saved-page">
  <%- include('../layouts/header') %>

  </section>


  <p>Your Saved Meal Plans</p>
  <% result  %>
  <div>
  <li class="">Combined Meal Calories: <%= result.calories %></li>
  <li class="">Combined Meal Protein: <%= result.protein %></li>
  <li class="">Combined Meal Fat: <%= result.fat %></li>
  <li class="">Combined Meal carbohydrates: <%= result.carbohydrates %></li>
  </div>
  

  <br>
  <br>

  <ul id="meals-container">
  
  <div class="meals">
  <li class="img"><img src='<%= result.image %>' /></li>
  <li class="">Meal Name: <%= result.title %></li>
  <li class="">Time to Prepare: <%= result.readyInMinutes %> minutes</li>
  
  </div>
  

  <br>
  <br>
  </ul>

  <ul>
  
    <div >
     
    <li class="">Ingredient <%= result.name %></li>
    <li class="">Amount: <%= result.value %></li>
    <li class=""><%= result.unit %></li>

    </div>
  <%  %> 
  </ul>

  <section>



  <%- include('../layouts/footer') %>
</body>
</html>

<button class="" type="submit" id="" >Delete Meal Plan</button>